
[Unit]
Description=WebSocket Daphne Service
After=network.target

[Service]
Type=simple
User={{ user_name }}
WorkingDirectory={{ app_dir }}
ExecStart=={{ app_dir }}/venv/bin/python {{ app_dir }}/venv/bin/daphne -b 0.0.0.0 -p 8001 {{ django_project_name }}.asgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
