{% extends "dashboard/layouts/base.html" %}

{% block title %} Daru AutoSpinner {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="/static/wheel/css/main.css" type="text/css" />


<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card card-chart">

      <div align="center">
        <!-- <h7>Market:<span id="market"></span></h7> -->
        <p class='text-info'>Next Spin In<h1><span id="dtim"></span></h1></p>
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td width="438" height="572" class="the_wheel" align="center" valign="center">
              <canvas id="canvas" width="434" height="434">
                <p align="center">Sorry, your browser doesn't support daru wheel.Please try another.</p>
              </canvas>
            </td>
          </tr>
        </table>
      </div>

      <div class="col-sm-4"> </div>

    </div>

      <div class="col-sm-4">
          <button class="btn big-login" id="search-button" data-toggle="modal" data-target="#betModal"><i class="tim-icons icon-coins" ></i>
            <span class="d-lg-none d-md-block">Bet</span>
          </button>
      </div>
      


    <div class="card-body">    </div>
</div>       


<div class="modal modal-search fade" id="betModal" tabindex="-1" role="dialog" aria-labelledby="betModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="card card-chart">
        <div class="card-body">          
 

          <form action="{% url 'daru_wheel:daru_spin' %}" method="post">
            {% csrf_token %}
    
           <div class="row">
                     
            <div class="col-lg-4">
              <div class="text-info">{{"Select one"}}</div>
              <div class="card card-chart">
          
                <div class="btn-group btn-group-toggle float-left" data-toggle="buttons" required="id_marketselection" >
    
                  <label class="btn btn-sm btn-rede btn-simple">
                    <input type="radio" class="d-none d-sm-none" name="marketselection" value="1" required="id_marketselection">                
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Red</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"> Red</i>
                    </span>
                  </label>
          
           
                  <label class="btn btn-sm btn-yell btn-simple" >
                    <input type="radio" class="d-none" name="marketselection" value="2" required="id_marketselection">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Yellow</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-trophy"> Yellow</i>
                    </span>
                  </label>
               
                </div>
    
              </div>
            </div>


            <div class="col-lg-4">
              <div class="form-group">
                <label for="number">Amount</label>
                <input type="number" id="amount_id"   placeholder="Amount" name="amount" required="id_amount" >
              </div>
            </div>


    
            <div class="col-lg-4">
    
              <div class="btn-group btn-group-toggle float-left" data-toggle="buttons" >
                <label class="btn btn-sm btn-info btn-simple" >
                  <input type="checkbox" name="bet_on_real_account" id="id_bet_on_real_account">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Bet Real</span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-wallet-43"> Bet Real Money</i>
                  </span>
                </label>
              </div>
    
              <div class="card card-chart">
                <button class="btn btn-fill btn-success" type="submit">Place Bet</button>
              </div>
            </div>
    
           </div>
         </form>        


        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-lg-6 col-md-12">
  <div class="card ">
    <div class="card-header">
      <h4 class="card-title"> Stake History</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                Time
              </th>
              <th>
                Market
              </th>
              <th>
                Selection
              </th>
              <th>
                Amount
              </th>
              <th class="text-center">
                Status
              </th>
              <th>
                Real
              </th>              
            </tr>
          </thead>
          <tbody>
            {%for trans in trans_logz%}

            <tr>
              <td>
                {{trans.created_at}}
              </td>
              <td>
                {{trans.market}}
              </td>
              <td>
                {{trans.marketselection}}
              </td>
              <td>
                {{trans.amount}}
              </td>
              <td class="text-center">
                {{trans.bet_status}}
              </td>
              <td>
                {{trans.bet_on_real_account}}
              </td>

            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>


         
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="/static/wheel/js/Winwheel.js"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script> -->
<script type="text/javascript" src="/static/wheel/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/wheel/js/daru.js"></script>

{% endblock javascripts %}


