{% extends "dashboard/layouts/base.html" %}

{% block title %} Daru AutoSpinner {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="/static/wheel/css/main.css" type="text/css" />


<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card card-chart">
      <div align="center">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            Spins:{{spins}}
            <td width="438" height="562" class="the_wheel" align="center" valign="center">
              <canvas id="canvas" width="434" height="434">
                <p align="center">Sorry, your browser doesn't support canas.Please try another.</p>
              </canvas>              
            </td>
          </tr>
        </table>
      </div> 
      <div align="center" class="col-sm-4"> 
        <!-- <button class="btn btn-fill btn-info" id="spin_button" >BET</button> -->
        <button class="btn btn-fill btn-warning" id="spin_button" >SPIN</button>
      </div>
      

    </div>    

    <div class="card-body">
      <form method="POST" id="stake-form">
        {% csrf_token %}
  
  
  <div class="col-lg-6 col-md-12">
    <!-- <div class="card "> -->
  
      <!-- <div class="col-lg-4"> -->
        <!-- <div class="text-info">{{"Select one"}}</div> -->
        <div class="card card-chart">
  
          <div class="btn-group btn-group-toggle float-left" data-toggle="buttons" required=True name="marketselection" id="id_marketselection" >
            <!-- <div class="row"> -->
            <label class="btn btn-sm btn-yell btn-simple">
              <input type="radio" class="d-none d-sm-none" name="marketselection" value="2" required=True >                
              <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Yellow (x2)</span>
              <span class="d-block d-sm-none">
                <i class="tim-icons icon-gift-2"> Yellow (x2)</i>
              </span>
            </label>        
     
            <label class="btn btn-sm btn-rede btn-simple" >
              <input type="radio" class="d-none" name="marketselection" value="1"  >
              <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Red (x2)</span>
              <span class="d-block d-sm-none">
                <i class="tim-icons icon-trophy"> Red (x2)</i>
              </span>
            </label>  
            <!-- </div>    -->
  
          </div>   
  
        </div>
      <!-- </div> -->
  
      <div class="form-group" id="the_stake">
        <input type="number" id="amount_id" class="form-control"  placeholder="Amount to bet" name="amount" required=True >
      </div>
      <div class="btn-group btn-group-toggle float-left" data-toggle="buttons" >
        <label class="btn btn-sm btn-info btn-simple" >
          <div class="form-group:">
            <input type="checkbox" name="bet_on_real_account" id="id_bet_on_real_account" >
          </div>            
          <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Bet Real Money</span>
          <span class="d-block d-sm-none">
            <i class="tim-icons icon-wallet-43">Bet Real Money</i>
          </span>
        </label>
      </div>
  
      <!-- <div class="form-group" > -->
        <button class="btn btn-fill btn-success" type="submit">Bet</button>
      <!-- </div> -->
  
      
    <!-- </div> -->
  </div>  
  
       </form>
        </div>
</div>       


<div class="col-lg-6 col-md-12">
  <div class="card ">
    <div class="card-header">

      <h4 class="card-title"> Stake History</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                Time
              </th>
              <th>
                Choice
              </th>
              <th>
                Amount
              </th>
              <th class="text-center">
                Status
              </th>
              <th>
                Real
              </th>
            </tr>
          </thead>
          <tbody id="talk">
            {%for trans in trans_logz%}

            <tr>
              <td>
                {{trans.created_at}}
              </td>
              <td>
                {{trans.marketselection}}
              </td>
              <td>
                {{trans.amount}}
              </td>
              <td class="text-center">
                {{trans.bet_status}}
              </td>
              <td>
                {{trans.bet_on_real_account}}
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>

         
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="/static/wheel/js/Winwheel.js"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script> -->
<script type="text/javascript" src="/static/wheel/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/static/wheel/js/darius.js"></script>

{% endblock javascripts %}


