{% extends 'dashboard/layouts/base.html' %}

{% block title %} Wallet {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Daru Wheel Wallet</h5>
        <!-- <p class="category">Handcrafted by our friends from <a href="/">Daru Wheel</a></p> -->
      </div>
      <div class="card-body all-icons">
        <div class="row">

          <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <a href={% url 'account:mpesa_deposit' %} >
              <div class="font-icon-detail">
                <i class="tim-icons icon-simple-add"></i>              
                <p>DEPOSIT</p>
              </div>

            </a>

          </div>
          
          <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <a href={% url 'account:mpesa_withrawal' %} >
              <div class="font-icon-detail">
                <i class="tim-icons icon-simple-delete"></i>              
                <p>WITHRAW</p>
              </div>

            </a>

          </div>     

          <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <a href={% url 'account:cash_trans' %} >
              <div class="font-icon-detail">
                <i class="tim-icons icon-link-72"></i>
                <p>SEND TO OTHER USER</p>
              </div>
            </div>

            </a>


        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
