{% extends "dashboard/layouts/based.html" %}

{% block stylesheets %}{% endblock stylesheets %}

{% block mainmenu %}
<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">                 
						<nav class="navbar navbar-expand-lg navbar-light">
							<a class="navbar-brand" href="/">
								<img src="/static/assets/images/logo.png" alt="">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
								<ul class="navbar-nav ml-auto"> 
								    <li class="nav-item">
										<a class="nav-link active" href="/">Home
										<div class="mr-hover-effect"></div></a>
									</li>

									<li class="nav-item">
										<a class="nav-link" href="/">About
												<div class="mr-hover-effect"></div></a>
									</li>
									<li class="nav-item">
									{% if user.is_authenticated %}
										<a class="nav-link" href="{% url 'daru_wheel:spin' %}">Spin
												<div class="mr-hover-effect"></div></a>
									{% endif %}
									{% if not user.is_authenticated %}
									   <a class="nav-link" href="#" data-toggle="modal" data-target="#login">Play
									       <div class="mr-hover-effect"></div>
									   </a>
									{% endif %}   
																					
									</li>									
									<li class="nav-item">
										<a class="nav-link" href="{% url 'dashboard:affiliate' %}">Affiliate
												<div class="mr-hover-effect"></div></a>
									</li>

									<li class="nav-item">
											<a class="nav-link" href="/">Contact
													<div class="mr-hover-effect"></div></a>
									</li>


									<li class="nav-item">
									{% if user.is_authenticated %}
									   <a class="nav-link" href="{% url 'dashboard:deposit_withraw' %}">Account
									       <div class="mr-hover-effect"></div>
									   </a>
									{% endif %}


									</li>


								</ul>
								{% comment %} <a href="#" class="mybtn1"  data-toggle="modal" data-target="#signin"> Join us to Win</a> {% endcomment %}
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
		
{% endblock mainmenu %}


{% block content %}
	<!-- Breadcrumb Area Start -->
	<section class="breadcrumb-area play">
		<img class="bc-img" src="/static/assets/images/breadcrumb/cart-bg.png" alt="">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="title">
						Play and Win
					</h4>
					<ul class="breadcrumb-list">
						<li>
							<a href="#">
									<i class="fas fa-home"></i>
									Home
							</a>
						</li>
						<li>
							<span><i class="fas fa-chevron-right"></i> </span>
						</li>
						<li>
							<a href="#">Play</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Area End -->

	<!-- Play Games Area Start -->
	<section class="play-games">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="gaming-activities">
							<div class="gaming-activities-inner">
								<div class="row">
									<div class="col-lg-4 col-md-6">
										<div class="single-activities">
											<div class="top-area">
												<div class="left">
													<div class="icon">
														<img src="/static/assets/images/play/ic31.png" alt="">
														<span>
															4.8 <i class="fas fa-star"></i>
														</span>
													</div>
												</div>
												<div class="right">
													<h4 class="title">
														Dari SPINNER
													</h4>
													<p class="text">
														Spin the Weel
													</p>
												</div>
											</div>
											<div class="bottom-area">
												<h4 class="title">People Playing:</h4>
												<div class="players-count">
													{% comment %} <ul class="players-list">
														<li>
															<img src="assets/images/play/people.png" alt="">
														</li>
														<li>
															<img src="assets/images/play/people.png" alt="">
														</li>
														<li>
															<img src="assets/images/play/people.png" alt="">
														</li>
														<li>
															<img src="assets/images/play/people.png" alt="">
														</li>
													</ul> {% endcomment %}
													<div class="count-num">
														400+
													</div>
												</div>
												<div class="pp">
													<p>{{spin_players_no}} People Playing Now !
													{% if user.is_authenticated %}	
													<a href="{% url 'daru_wheel:spin' %}" class="mybtn1">PLay Now !</a>
													{% endif %}
													{% if not user.is_authenticated %}	
													<a href="#" class="mybtn1" data-toggle="modal" data-target="#login">Join the PLay !</a>	
													{% endif %}																							
													
													</p>

												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6">
										<div class="single-activities">
											<div class="top-area">
												<div class="left">
													<div class="icon">
														<img src="/static/assets/images/play/ic4.png" alt="">
														<span>
															0.0 <i class="fas fa-star"></i>
														</span>
													</div>
												</div>
												<div class="right">
													<h4 class="title">
														Dari Poker
													</h4>
													<p class="text">
														Play Poker
													</p>
												</div>
											</div>
											<div class="bottom-area">
												<h4 class="title">People Playing:</h4>
												<div class="players-count">			
													<div class="count-num">
														0
													</div>
												</div>
												<div class="pp">
													<p>0 People Playing</p>
												</div>
											</div>
										</div>
									</div>									
									<div class="col-lg-4 col-md-6">
										<div class="single-activities">
											<div class="top-area">
												<div class="left">
													<div class="icon">
														<img src="/static/assets/images/play/ic5.png" alt="">
														<span>
															0.0 <i class="fas fa-star"></i>
														</span>
													</div>
												</div>
												<div class="right">
													<h4 class="title">
														Dari DICE
													</h4>
													<p class="text">
														Roll the Dice
													</p>
												</div>
											</div>
											<div class="bottom-area">
												<h4 class="title">People Playing:</h4>
												<div class="players-count">
													<div class="count-num">
														0
													</div>
												</div>
												<div class="pp">
													<p>0 People Playing</p>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="all-games">
				<div class="container">
					<div class="row">					
						<div class="col-lg-12 text-center">
						
							<ul class="nav" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-tab1-tab" data-toggle="pill" href="#pills-tab1" role="tab" aria-controls="pills-tab1" aria-selected="true">
									<div class="icon">							
										<img src="/static/assets/images/play/ic31.png" alt="">
										{% comment %} <img src="/static/assets/images/play/ic32.png" alt=""> {% endcomment %}
									</div>
									<span>Top Game</span>
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="pills-tab2-tab" data-toggle="pill" href="#pills-tab2" role="tab" aria-controls="pills-tab2" aria-selected="false">
								<div class="icon">
										<img src="/static/assets/images/play/ic44.png" alt="">
										{% comment %} <img src="/static/assets/images/play/ic55.png" alt="">										 {% endcomment %}
								</div>
								<span>New</span>
								</a>
							</li>							
							<li class="nav-item">
								<a class="nav-link" id="pills-tab2-tab" data-toggle="pill" href="#pills-tab2" role="tab" aria-controls="pills-tab2" aria-selected="false">
								<div class="icon">
										{% comment %} <img src="/static/assets/images/play/ic44.png" alt=""> {% endcomment %}
										<img src="/static/assets/images/play/ic55.png" alt="">										
								</div>
								<span>Soon !</span>
								</a>
							</li>						
							</ul>


							<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-tab1" role="tabpanel" aria-labelledby="pills-tab1-tab">
								<div class="row">
									<div class="col-lg-4 col-md-6">
										<div class="single-game">
											<img src="/static/assets/images/game/icon31.png" alt="">
											{% if user.is_authenticated %}											
											<a href="{% url 'daru_wheel:spin' %}" class="mybtn2">PLay NoW !</a>
											{% endif %}

											{% if not user.is_authenticated %}											
											{% comment %} <a href="{% url 'daru_wheel:spin' %}" class="mybtn2">PLay NoW !</a> {% endcomment %}
											<a href="#" class="mybtn2" data-toggle="modal" data-target="#login"> PLay NoW !</a>											
											{% endif %}		
										</div>
									</div>


								</div>
								{% comment %} <div class="row">
									<div class="col-lg-12 text-center">
										<a href="#" class="mybtn1">View More</a>
									</div>
								</div> {% endcomment %}
							</div>
							<div class="tab-pane fade show active" id="pills-tab2" role="tabpanel" aria-labelledby="pills-tab1-tab">
								<div class="row">
									<div class="col-lg-4 col-md-6">
										<div class="single-game">
											<img src="/static/assets/images/game/icon1.png" alt="">
											
											<a href="#" class="mybtn2">Coming Soon !</a>
										</div>
									</div>
									<div class="col-lg-4 col-md-6">
										<div class="single-game">
											<img src="/static/assets/images/game/icon2.png" alt="">
											<a href="#" class="mybtn2">Coming Soon !</a>
										</div>
									</div>
			
								</div>

							</div>

							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

	<!-- Play Games Area End -->
		
	<!-- Recent Winners Area Start -->
	{% comment %} <section class="recent-winners">
		<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-10">
						<div class="section-heading">
							<h5 class="subtitle">
								Try to Check out our
							</h5>
							<h2 class="title">
									Recent Winners
							</h2>
							<p class="text">
								We update our site regularly; more and more winners are added every day! To locate the most recent winner's information
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="single-winer">
							<div class="top-area">
								<div class="left">
									<h4 class="name">
											Leroy Roy 
									</h4>
									<p class="date">
											01.08.2019
									</p>
								</div>
								<div class="right">
									<p class="id">#5747e75482</p>
								</div>
							</div>
							<div class="bottom-area">
								<div class="left">
										0.099 ETH
								</div>
								<div class="right">
										<img src="/static/assets/images/icon2.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-winer">
							<div class="top-area">
								<div class="left">
									<h4 class="name">
											Jeff Mack
									</h4>
									<p class="date">
											01.08.2019
									</p>
								</div>
								<div class="right">
									<p class="id">#5747e75482</p>
								</div>
							</div>
							<div class="bottom-area">
								<div class="left">
										0.099 ETH
								</div>
								<div class="right">
										<img src="/static/assets/images/icon2.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-winer">
							<div class="top-area">
								<div class="left">
									<h4 class="name">
											Neal Morris
									</h4>
									<p class="date">
											01.08.2019
									</p>
								</div>
								<div class="right">
									<p class="id">#5747e75482</p>
								</div>
							</div>
							<div class="bottom-area">
								<div class="left">
										0.099 ETH
								</div>
								<div class="right">
										<img src="/static/assets/images/icon2.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-xl-center">
						<a class="mybtn2" href="#">View All </a>
					</div>
				</div>
		</div>
	</section>   {% endcomment %}
	<!-- Recent Winners Area End -->
{% endblock content %}

