
{% extends "dashboard/layouts/base.html" %}

{% block content %}
<div class="col-md-12">
  <div class="card ">
    
    <div class="card-header">
        <!-- <a href="#"><img src={{web.image.url}} alt=""></a> -->
         <h4 class="card-title"><img class="avatar" src="/static/mpesalogo.png" alt="Mpesa logo"> Mpesa</h4>
    </div>
    <div class="card-body">
      <div class="text-info"> {{mpesa_header_depo_msg}} </div>      

<form action="{% url 'account:mpesa_deposit' %}" method="post">
{% csrf_token %}

<div class="col-md-4 pl-md-1">
  <div class="form-group">
    <input type="number" name="amount" class="form-control" placeholder="amount here" required id="id_amount"">      
  </div>
</div>

<button class="btn btn-secondary type="submit">Submit</button>
</form>
    </div>
  </div>
  
</div>



<div class="col-md-12">
  <div class="card ">
    <div class="card-header">
      <h4 class="card-title"><img class="avatar" src="/static/paypalogo.png" alt="Paypal logo">Paypal</h4>

    </div>
    <div class="card-body">

<form  method="post">
{% csrf_token %}

<div class="col-md-4 pl-md-1">
  <div class="form-group">
    <input type="number" name="amount" class="form-control" placeholder="amount here" required id="id_amount"">      
  </div>
</div>

<button class="btn btn-secondary type="submit">Submit</button>
</form>
    </div>
  </div>
  
</div>





  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">

          <a href="{% url 'account:mpesa_deposit' %}" >
            <button class="btn btn-secondary">
              <i class="tim-icons icon-refresh-01"></i>                    
              Refresh 
            </button>
      
          </a>


          <h4 class="card-title"> Recent Deposits</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    Date
                  </th>
                  <th>
                    Amount
                  </th>
                  <!-- <th>
                    Approved
                  </th> -->
                  <th class="text-center">
                    Status
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for trans in trans_logz%}
  
                <tr>
                  <td>
                    {{trans.created_at}}
                  </td>
                  <td>
                    {{trans.amount}}
                  </td>
                  <!-- <td>
                    {{trans.approved}}
                  </td> -->
                  <td class="text-center">
                    {{trans.status}}
                  </td>
                </tr>  
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  </div>


{% endblock content %}
