{% extends 'dashboard/layouts/base.html' %}

{% block title %} Refer Credit{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link href="/static/assets/css/bootstrap.css" rel="stylesheet" /> -->
{% endblock stylesheets %}

{% block content %}
<div class="col-md-12">
  <div class="card ">
    <div class="card-header">
      <h5 class="card-title"><h5 class="text-info">Min Withrawable: {{min_wit}}</h5></h5>
      <h5 class="card-title"><h5 class="text-info">Refer Balance: {{refer_bal}}</h5></h5>

      <h5 class="card-title">Send to main Account</h5>
    </div>
    <div class="card-body">

<form action="{% url 'account:send_refer_to_main' %}" method="post">
{% csrf_token %}

<div class="col-md-4 pl-md-1">
  <div class="form-group">
    <input type="number" name="amount" class="form-control" placeholder="amount here" step="10" required id="id_amount"">      
  </div>
</div>


<button class="btn btn-secondary type="submit">Send</button>
</form>
    </div>
  </div>
</div>





<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Credit From My Users</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Credit From
                </th>
                <th>
                  Amount
                </th>
                <th class="text-center">
                  Current balance
                </th>
                <th>
                  Approved
                </th>
              </tr>
            </thead>
            <tbody>
              {% for trans in refer_credit%}

              <tr>
                <td>
                  {{trans.created_at}}
                </td>
                <td>
                  {{trans.credit_from}}
                </td>
                <td>
                  {{trans.amount}}
                </td>
                <td class="text-center">
                  {{trans.current_bal}}
                </td>
                <td>
                  {{trans.approved}}
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>







  <!-- <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title"> Table on Plain Background</h4>
        <p class="category"> Here is a subtitle for this table</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-center">
                  Salary
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-center">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-center">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-center">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-center">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-center">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-center">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-center">
                  $98,615
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
