{% extends 'dashboard/layouts/base.html' %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link href="/static/assets/css/bootstrap.css" rel="stylesheet" /> -->
{% endblock stylesheets %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> All Transactions</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Transaction Type
                </th>
                <th>
                  Amount
                </th>
                <th class="text-center">
                  Current balance
                </th>
              </tr>
            </thead>
            <tbody>
              {% for trans in trans_logz%}

              <tr>
                <td>
                  {{trans.created_at}}
                </td>
                <td>
                  {{trans.trans_type}}
                </td>
                <td>
                  {{trans.amount}}
                </td>
                <td class="text-center">
                  {{trans.now_bal}}
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
