
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="https://www.github.com/gibeongideon" class="nav-link">
             Daru Wheel for Real Cash
          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy; <a target="_blank" 
                  href="https://www.github.com/gibeongideon">Daru & Co</a>
         -make it happen by <a target="_blank" href="https://www.github.com/gibeongideon">gibeongideon</a>.
      </div>
    </div>
  </footer>
