
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="{% url 'daru_wheel:daru_spin' %}" class="nav-link">
             Daru Wheel for Real Cash
          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy; <a target="_blank" 
                  href="https://www.github.com/gibeongideon">Darius & Co.</a>
         <!-- -visit <a target="_blank" href="https://www.github.com/gibeongideon">gibeongideon</a>. -->
      </div>
    </div>
  </footer>
