<!-- Static assets -->
{% load static %}

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Daru Wheel</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">

            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">

              <!-- <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                  <span class="d-lg-none d-md-block">Deposit</span>
                </button>
              </li> -->

            <li class="dropdown nav-item">
              <a href="{% url 'dashboard:deposit_withraw' %}" >
                <button class="btn " >                  
                  <i class="tim-icons icon-credit-card" ></i>
                  <span class="d-lg-none d-md-block"><p class='text-info'>Deposit & Withraw</p></span>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block"><h6 class='text-info'>Deposit & Withraw</h6></span>             

              </button> 
              </a>    
             
            </li>  

            <li class="separator d-lg-none"></li>





              <li class="dropdown nav-item">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block"></div>
                  <i class="tim-icons icon-money-coins"></i>
                  <p class="d-lg-none">
                   {{user.user_accounts.balance}}
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link"><a href="{% url 'dashboard:deposit_withraw' %}" class="nav-item dropdown-item"><h5 class="text-info">Actual Balance: {{user.user_accounts.balance}}</h5></a></li>
                  <li class="nav-link"><a href="{% url 'dashboard:deposit_withraw' %}" class="nav-item dropdown-item"><h5 class="text-info"> Withrawable Balannce: {{user.user_accounts.withrawable_balance}}</h5></a></li>
                  <li class="nav-link"><a href="{% url 'dashboard:deposit_withraw' %}" class="nav-item dropdown-item"><h5 class="text-info"> Withraw Power: {{user.user_accounts.withraw_power}}</h5></a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item"><h5 class="text-info">Refer Balance: {{user.user_accounts.refer_balance}}</h5></a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item"><h5 class="text-info">Trial Balance: {{user.user_accounts.trial_balance}}</h5></a></li>
            
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="{% static 'assets/img/duser.png' %}" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="{% url 'users:user_page' %}" class="nav-item dropdown-item"><h5 class="text-info">Profile ({{request.user.username}})</h5></a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="{% url 'users:logout' %}" class="nav-item dropdown-item"><h5 class="text-danger">Log out</h5></a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
            {% endif %}

          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
