
<!DOCTYPE html>
<html lang="en">

<!-- Static assets -->
{% load static %}

<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png"          href="{% static 'assets/img/favicon.png'    %}">

  <title>
    Darius Wheel - {% block title %}{% endblock %} | Darius4RealCash
  </title>

  <!--     Fonts and icons     -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" /> -->
  <!-- <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> -->

  <!-- Nucleo Icons -->
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" /> -->

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">
  <div class="wrapper">

    {% if user.is_authenticated %}

        {% include 'dashboard/includes/sidebar.html' %}

    {% endif %}

    

    <div class="main-panel">
      {% if user.is_authenticated %}
    
        {% include 'dashboard/includes/navigation.html' %}

      {% endif %}

      {% if not user.is_authenticated %}
    
      {% include 'dashboard/includes/header.html' %}

      {% endif %}



      <div class="content">

        {% block content %}{% endblock content %}

      </div>

      {% include 'dashboard/includes/footer.html' %}

    </div>
    
  </div>

  {% include 'dashboard/includes/fixed-plugin.html' %}

  {% include 'dashboard/includes/scripts.html' %}

  {% include 'dashboard/includes/scripts-sidebar.html' %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>