{% extends "dashboard/layouts/base.html" %}

{% block content %}

<!-- <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2>Forgot password</h2>
    <hr>

    <form class="form-horizontal" role="form" method="POST">
      {% csrf_token %}

      {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
        <p>
          Enter {{field.label}} you reqister with here: {{ field}}

        {% if field.errors %}
        <div class='text-danger alert alert-danger'>{{ field.errors|join:'<br />' }}</div>
        {% endif %}

        {% if field.help_text %}
        <span class="help-block text-muted">
          <small>{{ field.help_text }}</small>
        </span>
        {% endif %}
        </p>

      {% endfor %}
      </div>
      <button type="submit" class="btn btn-success">Reset</button>
    </form>
  </div>
</div> -->




<div class="row">

  <div class="col-12">
    <div class="card card-chart">
        
      <!-- <div class="card-header ">
        <div class="row">
          <div class="col-sm-6 text-left">
            <h1 class="card-category">Please Login</h1>
            <h2 class="card-title">Please Login</h2>
          </div>
  
        </div>
      </div> -->
      <div class="card-body">
        <form class="form-horizontal" role="form" method="POST">
          {% csrf_token %}
    
          {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
            <p>
              Enter {{field.label}} you reqister with here: {{ field}}
    
            {% if field.errors %}
            <div class='text-danger alert alert-danger'>{{ field.errors|join:'<br />' }}</div>
            {% endif %}
    
            {% if field.help_text %}
            <span class="help-block text-muted">
              <small>{{ field.help_text }}</small>
            </span>
            {% endif %}
            </p>
    
          {% endfor %}
          </div>
          <button type="submit" class="btn btn-success">Reset</button>
        </form>



      </div>
    </div>
  </div>

</div>
    
{% endblock %}
